* {
    font-family:sans-serif;
    place-items:center;
}

body {
    place-items:center;
    border:0px;
    margin:0px;
    padding:0px;
    counter-reset: answerCounter;
}

header {
    color:black;
    display:flex;
    justify-content: space-between;
    height:50px;
    font-weight:bold;
}

#highscores {
    margin-left:2em;
    text-decoration:none;
    color:rgb(131, 32, 131);
}

#timer {
    margin-right:2em;
}

main {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin: 2em 25%;
}

p {
    text-align:center;
}

#startbtn {
    display: flex;
    align-content: center;
    margin-top: 1.5em;
}

#startbtn:before {
    content:none;
}

button {
    color:white;
    background-color: rgb(148, 55, 148);
    border-radius: 7px;
    cursor:pointer;
    font-size:20px;
}

.answerOption {
    flex-basis: 100%;
    display:none;
    margin:.25rem;
}

.answerOption:before {
    counter-increment: answerCounter;
    content: counter(answerCounter) ". ";
}

#button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#answers {
    display:flex;
}

button:hover {
    color:white;
    background-color: rgb(83, 31, 83);
}

#highscoresbtn {
    display: flex;
    align-content: center;
    margin-top: 1.5em;
}

#highscores:before {
    content:none;
}

#inline {
    display:inline;
}

textarea {
    margin: 0px 10px -4px 0px;
    width: 150px;
    height: 1em;
    resize: none;
    overflow: hidden;
}